*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(90deg, #1a1a1a , #2a2a2a, #1a1a1a);
    background-size: 30000% 30000%;
    animation: bganimation 30s linear  infinite;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    place-items: center;
}
@keyframes bganimation {
    from {
            background-position: 0% 100%;
        }
        to {
            background-position: 100% 0%;
        }
}

.main{
    width: 100vw;
    display: flex;
    justify-content: center;
    /* position: fixed; */
}

.fr{
    height: 460px;
    width: 390px;
    padding: 53px 12px 160px 72px;
    place-items: center;
    background: linear-gradient(135deg, #e1e1e11a, #e1e1e100); /* glass effect*/
    border-radius: 12px;
    box-shadow: 0px 0px 10px #0a0a0a;
}
.formhead{
    text-align: center;
    color: #000000;
    cursor: default;
    font-size: 30px;
    padding: 0px 51px 25px 0;
    /* padding-bottom: 25px; */
    /* font-family: 'Cherish', cursive; */
}

#fnm,#lnm, #mnum, #email, #T_Members, #C_Members, #A_Members{
    display: block;
}
.sm{
    border: 1px solid #6b6b6b;
    background: transparent;
    border-radius: 5px;
    height: 32px;
    width: 318px;
    font-size: 13px;
    outline: none;
    padding: 13px 5px 0px 5px;
    color: #ffffff;
}

.sm:focus, .dt:focus, .rca:focus{
    border: 1.5px solid #c2c1c1;
}
.sml{
    position: relative;
    top: -32px;
    left: 24px;
    font-size: 17px;
    color: #6b6b6b;
    pointer-events: none;
    transition: 0.3s all;
}

.sm:focus ~ .sml,
.sm:valid ~ .sml{
    top: -50px;
    left: 10px;
    background: transparent;
    padding: 0 8px;
    font-size: 80%;
    color: #c2c1c1;

}



.buton{
    height: 32px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: #3b6bdb;
    cursor: pointer;
    padding: 0 140px ;
}

.buton-link{
    text-decoration: none;
    /* display: block; */
}

.buton-link-span{
    /* color: #7a7a7a; */
    font-size: 16px;
    color: #dcddde;
}

.date{
    display: flex;
    padding: 0px 1px 13px 0px;
}
.dt{
    height: 32px;
    width: 120px;
    border: 1px solid #6b6b6b;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    background: transparent;
    color: #c2c1c1;
    /* font-size: 13px; */
}

.date-span{
    font-size: 13px;
    padding-left: 4px;
}

.rca_num{
    display: flex;
    height: 42px;
    padding: 0 0 0 0;
    /* width: 0px; */
}

.rca{
    border: 1px solid #6b6b6b;
    background: transparent;
    border-radius: 5px;
    height: 20px;
    width: 90px;
    font-size: 13px;
    outline: none;
    padding: 13px 5px 0px 5px;
    margin: 0 4px;
    color: #ffffff;    
}

.rca_l{
    position: relative;
    top: -26px;
    left: 24px;
    font-size: 17px;
    color: #6b6b6b;
    pointer-events: none;
    transition: 0.3s all;
}
.rca:focus ~ .rca_l,
.rca:valid ~ .rca_l{
    top: -38px;
    left: 10px;
    background: transparent;
    padding: 0 8px;
    font-size: 80%;
    color: #c2c1c1;
}

.type{
    padding: 0 0 15px 0;
}

.lc{
    border: 1px solid #6b6b6b;
    background: transparent;
    border-radius: 5px;
    height: 32px;
    width: 226px;
    font-size: 13px;
    outline: none;
    color: #ffffff;
    /* padding: 13px 5px 0px 5px; */
    /* margin: 0 4px; */
}

.ro{
    border: 1px solid #6b6b6b;
    background: transparent;
    border-radius: 5px;
    height: 32px;
    width: 226px;
    font-size: 13px;
    outline: none;
    margin-left: 47px;
    color: #ffffff;
}
.lc:focus, .ro:focus{
    border: 1.5px solid #c2c1c1;
}

span{
    color: #c2c1c1;
}